@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: #202024;
    --foreground: #c4c4cc;

    --card: #323238;
    --card-foreground: #e1e1e6;

    --popover: #202024;
    --popover-foreground: #c4c4cc;

    --primary: #00875f;
    --primary-foreground: #ffffff;

    --secondary: #323238;
    --secondary-foreground: #c4c4cc;

    --muted: #202024;
    --muted-foreground: #7c7c8a;

    --accent: #202024;
    --accent-foreground: #c4c4cc;

    --destructive: #aa2834;
    --destructive-foreground: #ffffff;

    --border: 0 0% 14.9%;

    --input: #121214;

    --ring: #00875f;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
